{% include 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Bootstrap Dahil Etme</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
  integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

<body>
  <div class="container">
    <h2 class="text-center mt-3">Biz Kimiz?</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, soluta cupiditate adipisci optio reprehenderit
      voluptas eos corporis, quasi sit vitae suscipit assumenda aperiam totam aliquam maiores accusamus distinctio. Sint
      quidem provident voluptatum expedita, eaque magni excepturi doloribus temporibus perferendis odio voluptates eu
      architecto doloremque nesciunt eveniet? Iste mollitia id accusamus aspernatur eos cum, sequi at vero nemo fuga
      doloremque nisi! Magni atque aliquam quam rem exercitationem saepe fugit accusamus libero vel corrupti maiores ex
      dolor minus voluptas temporibus repellendus consequuntur voluptatum eligendi, reiciendis inventore similique sit?
      Quos laudantium cumque repudiandae tempore non ipsa repellat illum iusto, sapiente officiis modi quidem, rem
      delectus laborum soluta voluptatem! Veritatis, dignissimos, alias nisi, sapiente dolores illo dolorum veniam autem
      quas quisquam commodi ducimus adipisci. Magnam animi sed quasi similique magni corrupti, excepturi saepe est
      accusamus aperiam aut, sequi consectetur assumenda repudiandae tenetur a nesciunt, harum veritatis ab nulla
      dolorum! Expedita in consectetur, culpa eaque velit reiciendis placeat voluptate corporis quidem cum, nemo illo
      ullam. Velit reprehenderit ut nostrum quaerat aliquid magni nulla odio illum pariatur consequuntur, quia minus
      facere quidem ex voluptatem dolorem provident eos. Sit ratione fugiat inventore nostrum aliquid. Dolore aliquam
      doloribus, quasi perspiciatis neque totam nihil facilis iusto minus consequatur laudantium voluptate accusantium
      beatae dolorem at, sed omnis reiciendis corrupti tempora a! Nobis expedita culpa dicta, illum esse possimus
      quaerat, iste soluta omnis in dolorum nesciunt explicabo ratione maiores iure veniam. Ullam magni sint, incidunt
      impedit unde, voluptate blanditiis quidem rerum nulla vitae aliquid! Reprehenderit nulla excepturi eaque
      voluptatibus doloribus vero aspernatur, dolorem nesciunt consequuntur nam neque veritatis provident dolores
      voluptates unde impedit debitis atque quam magni tempore eveniet sequi suscipit alias. Provident accusamus nisi
      necessitatibus in nemo consequatur tenetur suscipit illo quam ratione, voluptas sequi, consectetur vitae laborum,
      sint corrupti! Distinctio officia, asperiores vero nesciunt mollitia deleniti ipsam molestias a laudantium iusto
      molestiae quam consectetur nobis vel. Ea dolorum, porro enim nostrum veniam deleniti assumenda fugit. Laboriosam
      consectetur quia reiciendis ab recusandae autem officia. Dicta, quaerat? Eligendi repellendus modi, quae eius
      deserunt enim iure provident harum, quia quod voluptatem laudantium natus dolorum veniam adipisci molestiae aut
      error. Aliquam alias nihil nobis harum voluptatem enim iusto atque eveniet illum dolorum, voluptatibus labore,
      repellat excepturi qui incidunt dolorem minus expedita ut distinctio! Commodi nulla esse consequuntur nostrum
      dolore eligendi error nisi rem, laboriosam, fugiat, reprehenderit deserunt quaerat doloremque nam cumque
      repellendus doloribus at voluptatibus? Adipisci facilis fugit vero eos sapiente ut cupiditate quibusdam corrupti
      reiciendis quia delectus eum ducimus autem velit ad ratione pariatur provident atque, libero unde veniam deserunt.
      Reiciendis voluptas mollitia sed labore aliquam tenetur dolores dolorum, quos necessitatibus eum perferendis
      repellat minus? Alias quis possimus exercitationem, cumque voluptas inventore a nemo soluta recusandae. Adipisci
      officiis magni fuga aut, praesentium soluta voluptate doloribus! Soluta ut ducimus maiores debitis sit expedita
      odit optio dolores maxime rem? Cum, consectetur error quibusdam voluptatem cupiditate eveniet at voluptates,
      veritatis dignissimos mollitia molestiae laboriosam unde nihil repudiandae provident dolore ea veniam ullam
      aliquam aut nemo similique corrupti amet. Blanditiis dolorem eveniet repudiandae eaque? Blanditiis, repellendus!
    </p>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
    integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
    crossorigin="anonymous"></script>
</body>

</html>