{% include 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ders Talebi Detayı</title>
</head>

<body>

  <h1>Ders Talebi Detayı</h1>

  <div>
    <p><strong>Kullanıcı:</strong> {{ ders_talebi.kullanici }}</p>
    <p><strong>Ders:</strong> {{ ders_talebi.ders }}</p>
    <p><strong>Talep Notu:</strong> {{ ders_talebi.talep_notu }}</p>
    <p><strong>Talep Durumu:</strong> {% if ders_talebi.talep_durumu %}Eğitmen Bulundu{% else %}Talep Açık{% endif %}
    </p>
    <p><strong>Minimum Bütçe:</strong> {{ ders_talebi.min_butce }}</p>
    <p><strong>Maksimum Bütçe:</strong> {{ ders_talebi.max_butce }}</p>
    <p><strong>Öğrenci Seviyesi:</strong> {{ ders_talebi.ogrenci_seviyesi }}</p>
    <p><strong>Oluşturulma Tarihi:</strong> {{ ders_talebi.olusturulma_tarihi }}</p>
  </div>

</body>

</html>